Repository streamlit/streamlit, pull requests merged in 2021-08, with the labels that each got.

#3707 Show iframe embeds for arrow elements
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/elements/dataframe_selector.py
Labels: docs

#3694 Rectified two broken links
  docs/troubleshooting/sanity-checks.md
Labels: docs

#3702 Add the missing s to packages.txt
  docs/deploy_streamlit_app.md
Labels: docs

#3725 Adds static embedded apps for `st.metric` to docs
  docs/api-examples-source/metric.example1.py
  docs/api-examples-source/metric.example2.py
  docs/api-examples-source/metric.example3.py
  lib/streamlit/elements/metric.py
Labels: docs, api

#3711 Replace sharing with Streamlit cloud in docs
  docs/_static/img/delete_streamlit_cloud_app.png
  docs/_static/img/streamlit_cloud_dashboard.png
  docs/_static/img/streamlit_cloud_deploy_interface.png
  docs/_static/img/streamlit_cloud_edit_secrets.png
  docs/_static/img/streamlit_cloud_reboot.png
  docs/_static/img/streamlit_cloud_secrets_interface.png
  docs/_static/img/view_streamlit_cloud_logs.png
  docs/deploy_streamlit_app.md
  docs/getting_started.md
  docs/main_concepts.md
  docs/troubleshooting/sanity-checks.md
  docs/tutorial/aws_s3.md
  docs/tutorial/bigquery.md
  docs/tutorial/mongodb.md
  docs/tutorial/mysql.md
  docs/tutorial/postgresql.md
  docs/tutorial/private_gsheet.md
  docs/tutorial/public_gsheet.md
  docs/tutorial/tableau.md
Labels: docs

#3713 Improved exception handling for when client.showErrorDetails = False
  lib/streamlit/elements/exception.py
  lib/streamlit/error_util.py
  lib/streamlit/errors.py
  lib/tests/streamlit/caching_test.py
  lib/tests/streamlit/error_util_test.py
  lib/tests/streamlit/exception_test.py
  lib/tests/streamlit/scriptrunner/script_runner_test.py
Labels: product review needed

#3734 Updates docs with `st.download_button` related changes
  docs/api.md
  docs/session_state_api.md
  lib/streamlit/elements/form.py
Labels: docs
